# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Outputs (gerados no runtime via volumes)
outputs/
docs/*.json
data/processed/

# Outros
*.zip
*.log
